
$body_font:'Crete Round', serif;
$body_font_uno:'Abel', sans-serif;
$color_button:#E91E63;
$color_icono_responsive:#E91E63;
$color_icono_quality:#00BCD4;
$color_icono_support:#4CAF50;
$color_icono_face:#3B5998;
$color_icono_google:#DD4F3D;
$color_icono-twiter:#55ACEE;
$color_icono_in:#0976B4;
$color_texto_lorem:#999999;
$color_texto_pink:#E91E63;
$color_texto_blanco:white;
$background_uno:#F0F0F0;
$background_footer:#323437;
$padding:6%;
$margin:5%;
$margin_left:6%;
$margin_titulos:10%;
$text_center: center;
$titulos:35px;
$titulos_bold:bold;







